mat-list-option {
  border: 1px solid lightgray;
}

.employee-card {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 5px;
  left: 5px;
}

.table-container {
  max-height: 550px;
  overflow-y: auto;
  display: block;
}

.employee-table {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
