mat-list-option {
  border: 1px solid lightgray;
}
.align-center-vertically {
  display: flex;
  align-items: center;
}

.department-label {
  padding-right: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.employee-card {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 5px;
  left: 5px;
}

.table-container {
  overflow-y: auto;
  display: block;
}

.employee-table {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
