.department-card {
  min-width: 120px;
  margin: 20px auto;
}

.department-form-field {
  width: 100%;
}

.department-image {
  margin-bottom: 20px;
}

.department-datepicker {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

form {
  margin: -20px 5px 0px 5px;
}

mat-card-title {
  margin: 0px 0px 20px 0px;
}

.mat-mdc-button-base {
  margin-right: 15px;
}
