<mat-card class="settings-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <div class="settings-card-row">
                <div class="settings-title">
                    Settings
                </div>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <div class="settings-card-row">
            <div class="settings-card-col repository-type-label">
                Repository Type
            </div>
            <div class="settings-card-col">
                <form [formGroup]="settingsForm">
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="repositoryTypeSelect"
                            [value]="settingsForm.get('repositoryTypeSelect')?.value"
                            (selectionChange)="selectRepositoryType($event.value)">
                            @for (repositoryType of repositoryTypeArray; track repositoryType) {
                            <mat-option [value]="repositoryType">{{ repositoryType }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="settings-card-col">
                <button matFab extended (click)="initialiseRepository()">
                    Initialise Repository
                </button>
            </div>
        </div>
    </mat-card-actions>
    <mat-card-content>
    </mat-card-content>
</mat-card>