.settings-card {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.settings-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-height: 0;
  margin-left: 8px;
  margin-right: 8px;
}

.settings-card-col {
  flex: 1;
  display: flex;
  min-height: 0;
}

.settings-card-col:last-child {
  margin-left: 120px;
  margin-bottom: 15px;
}

.settings-title {
  font-size: 1.75rem;
  min-height: 40px;
}

.repository-type-label {
  padding-right: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}